body
{
	background: #fff;
	color: #fff;
    font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

.container{
    max-width: 100rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    margin-right: 0rem; 
}

/* start all section */
#home, #portfolio, #about, #contact
    {
        padding: 6rem;
    }
/* end all section */

/* start navabar */
.navbar-expand-lg {
    background: #fff;
    border: none;
    -webkit-box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
            box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
    margin: 0;

  }
  .navbar-expand-lg .navbar-brand {
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    padding: 5px;
  }
  .navbar-expand-lg .navbar-nav li a {
    color: #202020;
   font-size: 13px;
    font-weight: bold;
    line-height: 45px;
    letter-spacing: 1px;
    margin-left: 16px;
  } 
  .navbar-expand-lg .navbar-nav li a:hover { color: #eb5424; }
  .navbar-expand-lg .navbar-nav > li > a:hover,
  .navbar-expand-lg .navbar-nav > li > a:focus {
    color: #eb5424;
    background-color: transparent;
  }
  .navbar-expand-lg .navbar-nav > .active > a,
  .navbar-expand-lg .navbar-nav > .active > a:hover,
  .navbar-expand-lg .navbar-nav > .active > a:focus {
    color: #eb5424;
    background-color: transparent;
  }
 /* end navabar */

/* start home */  
#home
{
    background-image:url('../images/home_1_xl.jpg');
    background-size: cover;
    height: 50rem;
    background-color: rgba(0,0,0,0.7);
    background-blend-mode:darken;
    text-align: justify;
}
#home h1
{
    color: #eb5424;
    display: inline-block;
    letter-spacing: 6px;
    margin: 0;
    padding: 0;
    margin-bottom: 3rem;
}
 #home h4
{
    color: #fff;
    font-weight: bold;
}
#home p
{
    color: #fff;
    margin: 0;
}
#home .btn
{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    width: 11.25rem;
    margin-top: 3rem;
    padding: 0.8rem;
    transition: all 0.4s ease-in-out;
}
#home .btn:hover
{
    background: #eb5424;
    border-color: transparent;
}
/* end home */

/* start portfolio */
#portfolio
{
    text-align: center;
    background: #f3f3f3;
    border-bottom: #dddddd solid 1px;
    box-shadow: inset 0px 1px 4px 0px rgb(0 0 0 / 10%);
}
#portfolio h1
{
    margin: 0;
    padding: 0;
    color: #eb5424;
    margin-bottom: 3rem;
}
#portfolio h4 {
   font-weight: 400;  
   margin-bottom: 0; 
   padding-bottom: 0; 
   color: #000
}
#portfolio .portfolio-thumb
{
    overflow: hidden;
    position: relative;
    margin-bottom: 2rem;
    padding: 2rem;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
#portfolio .portfolio-thumb .portfolio-overlay
{
    background: #eb5424;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    padding-top: 2rem;
    transition: all 0.4s ease-in-out;
}
#portfolio .portfolio-thumb:hover .portfolio-overlay
{
    cursor: pointer;
    opacity: 0.8;
    transform: scale(0.9);
    padding: 2rem;
}

.portfolio-thumb a{
    text-decoration: none; 
    color:#fff
}

.portfolio-overlay h5 {
    margin-top: 0.5rem;
}

.portfolio-overlay p {
    margin-top: 3rem;
}
/* end porfolio */

#about{
    background-image:url('../images/home_2d.png');
    background-size: cover;
    height: 45rem;
    text-align: justify;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode:darken;
}
#about h1
{
    color: #eb5424;
    margin: 0;
    padding: 0;
    text-align: justify;
}
#about h4
{
    color: #fff;
    font-weight: bold;
    margin-top: 3rem;   
}
    
/* start footer (Contacts) */
footer
{
    text-align: center;
    padding: 0;
}
footer hr
{
    width: 100px;
}

footer a, footer p{
    color: #000;
}

footer .contact-title {
    font-weight: bold;
    color: #000;
}

footer p {
    text-align: left;
}

footer .div1{
    padding-right: 2rem; 
}
/* end footer */
  
/* START MEDIA */
/* Large devices (desktops...) */
@media (max-width: 1280px) { 
    #home
    {
        background-image:url('../images/home_1_lg.jpg');
    }

    #home, #portfolio, #about, #contact
    {
        padding: 4rem;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (max-width: 900px) { 
    #home 
    {
        background-image:url('../images/home_1_md.jpg');
	}

    #home, #portfolio, #about, #contact
    {
        padding: 2rem;
    }

    .mobile-project {
        height: 27rem !important;
    }

    .web-project {
        height: 18rem !important;
    } 
   
 }

/*  Small devices (landscape phones, 576px and up) */
@media (max-width: 700px) { 
    #home
	{
        background-image:url('../images/home_1_s.jpg');
        font-size: 14px; 
	}

    /* start all section */
  
    h1 {
        text-align: center;
        margin-bottom: 2rem!important;
    }
   
    .mobile-project {
        height: 24rem !important;
    }

    .web-project {
        height: 16rem !important;
    } 

}

/*  Extra small devices (portrait phones, less than 576px)
    @media (max-width: 576px) { ... } */

  /* END MEDIA */